:host {
  display: block;
  width: 220px;
  flex-shrink: 0;
  background: #070606a2;        
 
  border-right: 1px solid rgba(255,255,255,.08);
  box-shadow: 12px 0 16px -12px rgba(0,0,0,.35);
  

 
} 

.sideNav {
  height: 100%;    /* Damit die Sidebar die volle Höhe einnimmt   */        
  padding: 1rem;
}

.sideNav ul {
  list-style: none;
  padding: 0;
}

.sideNav a {
  text-decoration: none;
  color: #f5f4f4;
}
