:host {
  display: block;
  width: 220px;
  flex-shrink: 0;
  background:#f5f6f8;       
 

  

 
} 

.sideNav {
  height: 100%;    /* Damit die Sidebar die volle Höhe einnimmt   */        
  padding: 1rem;
}

.sideNav ul {
  list-style: none;
  padding: 0;
}

.sideNav a {
  display:block; 
  padding:.6rem .75rem; 
  border-radius:.5rem;
  color:#0b0c0c; text-decoration:none;
}
.sideNav a:hover{ background:#444; }
.sideNav a.active{ background:#555; font-weight:600; }
