.footer{
    background: #474747; 
    text-align: center; 
    padding: 1rem; 
    bottom: 0; 
    width: 100%; 
    background-color: #e63946;
    color: black;
    box-shadow: 0 -8px 18px -16px rgba(0,0,0,.5); 
}