
.layout  { 
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
  background-color: rgb(31, 31, 31);
}

.body    { 
  display: flex; 
  flex: 1; 
  gap: 1rem; 
}
            
.content {
  display: flex;
  justify-content: center; /* horizontal mittig */
  padding: 1rem;
  
}



@media (max-width: 768px) {
  .body    { flex-direction: column; }
      
}
